In [15]:
def ss(n,k):
  '''all summations for integer n with at least 1 time integer k with no integer over k'''
  if k in [1, n-1, n]:
    return 1
  elif k == 2:
    return int(n/2)
  elif k>2 and k<n-1:
    return sum([ss(n-k, j) for j in range(1,k+1)])
  else: return 0
def s(n):
  ''' list of all summations for integer n '''
  return [ss(n,i) for i in range(1,n+1)]
#testing
#[ss(8,k) for k in range(1, 9)]
#[sum(s(j)) for j in range(3,9)]

[1, 4, 5, 5, 3, 2, 1, 1]

In [18]:
sum(s(100)) -1 #except 100

190569292